<div class="container" data-ng-controller="HeaderController">
	<div class="header">
		
		<!-- If user is authenticated then show the required menus and hide the signup and sign in links-->
		<ul class="nav nav-pills pull-right"> <!--data-ng-show="authentication.user">-->
			<li ui-route="/budgets" ng-class="{active: $uiRoute}"><a href="/#!/budgets">Current Budget</a></li>
			<li ui-route="/histories" ng-class="{active: $uiRoute}"><a href="/#!/history">History</a></li>
			<li ui-route="/analysies" ng-class="{active: $uiRoute}"><a href="/#!/analysis">Analysis</a></li>
			<!--<li class="active"><a href="/auth/signout">Analysis</a></li>-->
		</ul>

		<!--<ul class="nav nav-pills pull-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}"><a href="/#!/signup">Signup</a></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}"><a href="/#!/signin">Signin</a></li>
		</ul>-->

		<a href="/#!/" class="no-link"><h3 class="text-muted">exSpend</h3></a>
	</div>

</div>