<section data-ng-controller="HomeController">
  <div class="jumbotron">
    <h2>Track your expenditures!</h2>
    <p class="lead">With exSpend you can set a budget for some period and start logging your spendings.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  </div>
  
</section>