<div class="budget-add-form" ng-controller="BudgetCtrl">
  <form class="form-inline" role="form">
    
    <div class="form-group">
      <label class="sr-only" for="budget">Budget</label>
      <input type="text" class="form-control" id="budget-input" placeholder="Enter budget">
    </div>
    
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>

<table class="table table-striped">
  <tr><th>#</th><th>Amount</th><th>Description</th><th>Satisfaction level</th></tr>
</table>