<section data-ng-controller="AuthenticationController">
	<div class="center-block col-sm-12">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="email" class="col-sm-2" >Email</label>
					<div class="col-sm-6">
						<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-2">Password</label>
					<div class="col-sm-6">
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<label for="error" class="col-sm-2"></label>
					<div data-ng-show="error" class="col-sm-6 text-danger">
						<strong>{{error}}</strong>
					</div>
				</div>
				<div class="col-sm-6 text-center form-group">
					<button type="submit" class="btn btn-primary">Sign in</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>