<section data-ng-controller="AuthenticationController">
<div class="center-block col-sm-15">
	<form data-ng-submit="signup()" class="signin form-horizontal" autocomplete="off">
		<fieldset>
			<div class="form-group">
				<label for="firstName" class="col-sm-2">First Name</label>
				<div class="col-sm-6">
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
			</div>
			<div class="form-group" class="col-sm-2">
				<label for="lastName" class="col-sm-2">Last Name</label>
				<div class="col-sm-6">
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2">Email</label>
				<div class="col-sm-6">
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="username" class="col-sm-2">Username</label>
				<div class="col-sm-6">
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-2">Password</label>
				<div class="col-sm-6">
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label for="error" class="col-sm-2"></label>
				<div data-ng-show="error" class="col-sm-6 text-danger">
					<strong>{{error}}</strong>
				</div>
			</div>
			<div class="col-sm-6 text-center form-group">
				<button type="submit" class="btn btn-large btn-primary">Sign up</button>
			</div>
		</fieldset>
	</form>
</div>
</section>