<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.css">

	<!-- Application CSS -->
	<link rel="stylesheet" href="/css/common.css">

	<!--Application Modules CSS-->
	{% for modulesCSSFile in modulesCSSFiles %}
	<link rel="stylesheet" href="{{modulesCSSFile}}">
	{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<header data-ng-include="'/modules/core/views/header.html'" class="navbar"></header>

	<section class="content">
		<section class="container">
			{% block content %}{% endblock %}
			<div class="footer">
				<br>
				<p>&copy; Kelsadita 2014</p>
			</div>
		</section>

	</section>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--AngularJS-->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.js"></script>
	<script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>

	<!--Angular UI-->
	<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-utils/ui-utils.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

	<!--AngularJS Application Init-->
	<script type="text/javascript" src="/js/config.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>

	<!--Application Modules-->
	{% for modulesJSFile in modulesJSFiles %}
		<script type="text/javascript" src="{{modulesJSFile}}"></script>
	{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
		<!--Livereload script rendered -->
		<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
	{% endif %}
</body>

</html>